# Core dependencies
ollama==0.4.7  # Version may need to be updated to match the latest

# Development dependencies
evaluate
sacrebleu
rouge_score
transformers
torch
pylint>=2.12.0
black>=22.3.0
pytest>=7.0.0
